#lobby {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100dvw;
    height: 100%;
}

#lobby .left-side {
    width: 15dvw;
    background-color: #0e2020;
    color: #FFFFFF;
    text-align: center;
}

.profile {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 15dvw;
    height: 7.5%;
    margin-bottom: 5%;
    background-color: #002e2e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile img {
    width: 25%;
    max-height: 100%;
    margin: auto 2.5%;
    aspect-ratio: 1 / 1;
}

.profile .profileInfo {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.profile .profileInfo a {
    font-size: 1.1dvw;
}

#otherPlayers {
    width: 15dvw;
    height: 75%;
    overflow-y: auto;
    background-color: #0e2020;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.5dvw;

}

#otherPlayers .left-title {
    margin-bottom: 5%;
}

#lobby .right-side {
    width: 85dvw;
    background-image: url("../../lobby-bg1.png");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#lobby .right-side .game_selector {
    width: max-content;
    margin-top: 2%;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#lobby .right-side .game_selector #selected {
    color: #23dab7;
    margin: 0 5%;
    border-bottom: #23dab7 solid 2px;
}

#lobby .right-side .game_selector .gamemode {
    cursor: pointer;
    padding: 2.5%;
    color: #ffffff;
    margin: 0 5%;
    border-bottom: 0;
    font-size: 1dvw;
}

#lobby .right-side .menu_selector {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: 90%;
    margin-top: 1%;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#lobby .right-side .menu_selector #selected {
    background-color: #23dab7;
    color: #001e2d;
    border-radius: 5px;
}

#lobby .right-side .menu_selector .menu {
    cursor: pointer;
    padding: .5% 2%;
    color: #ffffff;
    margin: 0 5%;
    border-bottom: 0;
    font-size: 1dvw;
}

#lobby .right-side .playerCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 250px;
    max-height: 65%;
    height: 50%;
    aspect-ratio: 1/1.75;
    margin: auto 0;
    background-position-x: center;
    background-position-y: center;
    background-image: url("https://api.dicebear.com/7.x/shapes/svg?seed=undefined&backgroundColor=0a5b83,1c799f,69d2e7,f88c49,b6e3f4&shape1Color=0a5b83,1c799f,69d2e7,f88c49&shape2=polygonFilled,rectangleFilled,ellipseFilled&shape2Color=0a5b83,1c799f,69d2e7,f88c49&shape3=rectangle,ellipse,polygon&shape3Color=f1f4dc");
    background-size: cover;
    color: #FFFFFF;
}

#lobby .right-side .playerCard .playerName {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

#lobby .right-side .playerCard .rank {
    width: 20%;
    aspect-ratio: 0.8/1;
    margin: 2% 0px 2% 0px;
}



#lobby .right-side .queue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    color: #FFFFFF;
    height: 7.5%;
}

#lobby .right-side #timequeue {
    cursor: pointer;
    min-width: fit-content;
    font-size: 2.5dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD4556;
    height: 100%;
    aspect-ratio: 4/1;
    border-radius: 1px;
    transition: 250ms;
}

#lobby .right-side #timequeue:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: 250ms;
}

#lobby .right-side #practice {
    cursor: pointer;
    font-size: 1.5dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(126, 126, 126, 0.5) 1.5px solid;
    background-color: rgba(126, 126, 126, 0.5);
    height: 75%;
    min-width: fit-content;
    aspect-ratio: 3/1;
    border-radius: 1px;
    margin-right: 5%;
    transition: 250ms;
}

#lobby .right-side #practice:hover {
    transition: 250ms;
    border: rgba(126, 126, 126, 0.75) 1.5px solid;
    background-color: rgba(126, 126, 126, 0.75);
}

.role-admin {
    color: #FD4556;
}

.role-default {
    color: #5e5e5e;
}