#logreg {
    background-image: url("../images/PizzaBlastBG.png");
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    box-shadow: 0 0 400px 100svw rgba(0,0,0,0.5) inset;
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logreg #ping-logreg {
    font-family: "alata", sans-serif;
    position: absolute;
    bottom: 2em;
    color: #fff;
}

#logreg .form {
    max-width: 500px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 50%;
}

#logreg .form #logo {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
}

#logreg .form #in {
    width: 80%;
}


#logreg .form label {
    font-family: "alata", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#logreg .form input {
    font-family: "alata", sans-serif;
    min-height: 30px;
    border-radius: 3px;
    width: 80%;
    height: 4%;
    border: rgba(126, 126, 126, 0.1) 1.5px solid;
    background-color: rgba(126, 126, 126, 0.1);
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

#logreg .form #showpass {
    font-family: "alata", sans-serif;
    border-radius: 3px;
    min-height: 30px;
    height: 4%;
    aspect-ratio: 1/1;
    border: rgba(126, 126, 126, 0.1) 1.5px solid;
    background-color: rgba(126, 126, 126, 0.1);
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    transition: 250ms;
}

#logreg .form #showpass:hover {
    transition: 250ms;
    border: rgba(0, 0, 0, 0.25) 1.5px solid;
    background-color: rgba(0, 0, 0, 0.25);
}

#logreg .form #passwrd {
    width: 100%;
    max-height: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logreg .form #btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#logreg .form button {
    transition: 250ms;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "alata", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 30px;
    border-radius: 3px;
    width: 80%;
    height: 2em;
    border: rgba(126, 126, 126, 0.1) 1.5px solid;
    background-color: rgba(126, 126, 126, 0.1);
    padding-left: 1em;
    padding-right: 1em;
}

#logreg #errormsg {
    width: 80%;
    font-family: "alata", sans-serif;
    color: #FD4556;
}

#logreg .form button:hover {
    transition: 250ms;
    border: rgba(0, 0, 0, 0.25) 1.5px solid;
    background-color: rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1000px) {
    #logreg .form{
        max-width: 500px;
        width: 100svw;
    }
}