* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: var(--body-bg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: var(--canvas-bg);
    image-rendering: optimizeQuality;
}

:root {
    --background: #171717;
    --app-color-ligth: #eeeeee;
    --main: #A9F249; /* #A9F249*/

    --body-bg: var(--background);
    --canvas-bg: #181425;

    --loading-bar-color: #000000;
    --loading-screen-background: var(--background);
    --loading-bar-done-color: var(--main);


}